
html {
  --radix-connect-button-width: 30px;
    --radix-connect-button-height: 30px;
    --radix-connect-button-border-radius: 90px;
}

body {
  background: #121212; 
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  display: flex;
  flex-shrink: 0 ;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

a {
  color: #0ea5e9;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #5eead4;
}

.logo {
  height: 45px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.footerlogo {
  height: auto;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

.sectionImage {
  height: 120px;
  width: auto;
  margin: 20px ;    
}

.referenceImage {
  height: 80px;
  width: auto;      
}