
html {
  --radix-connect-button-width: 40px;
    --radix-connect-button-height: 40px;
    --radix-connect-button-border-radius: 8px;
}


body {
  background: #1e1e1e; 
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  display: flex;
  flex-shrink: 0 ;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

a {
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #CB45C1;
}

.logo {
  height: 45px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.footerlogo {
  height: auto;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: block;
}

.sectionImage {
  height: 120px;
  width: auto;
  margin: 14px ;    
}

.referenceImage {
  height: 80px;
  width: auto;      
}